*{
margin:0;
padding:0;
box-sizing: border-box;
}
.navbar{
background-color:rgb(0, 34, 255);
color: white;
height: 40px;
width: 100%;
}
.link{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 12px 12px;
}
a{
    text-decoration: none;
    color: white;
}
