*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
.link{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 12px;
}
button{
    background-color: black;
    color: white;
    padding: 20px 20px;
    border-radius: 28px;
    font-weight: bold;
    font-size: 18px;

}
.hero{
   display: flex;
   padding: 20px 50px;
   align-items: center;
   justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 100px;
}
.hero-hadding{
    font-size: 50px;
}
.para{
    color: gray;
    font-size: 20px;
}
.First{
 background-color: black; 
 color: white;
     padding: 15px 20px;
    border-radius: 28px;
    font-size: 18px;  
}
.Second{
    background-color:white;
    color: black;
    padding: 10px 15px;
    font-size: 15px;
}
.container{
    display: flex;
    gap: 50px;
}
.stat{
   display: flex;
   margin-top: 30px;
   flex-direction: column;
   gap: 12px;
}
.stat h1{
    font-size: 30px;
}
.stat P{
    color: gray;
}
.img{
    height: 100%;
}